<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
</head>
<body>
  <header class="profile-header">
    <div class="profile-picture">
      <img src="{{ site.baseurl }}{{ site.logo }}" alt="Site Logo">
    </div>
    <div class="profile-info">
      <a href="https://www.linkedin.com/in/bolade-victor/" class="profile-link">LinkedIn</a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-email">victorboladejamb17@gmail.com</p>
    </div>
  </header>

  <nav class="navbar">
    <ul>
      <li><a href="#technical-skills">Technical Skills</a></li>
       <li><a href="#soft-skills">Soft Skills</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#experience">Work Experience</a></li>
      <li><a href="#projects">Projects</a></li>
    </ul>
  </nav>

  <main>
    <section id="technical-skills">
            <h2>Technical Skills</h2>
            <ul>
                <li>Programming Languages: Python, SQL</li>
                <li>Cloud Platforms: AWS, GCP, Azure</li>
                <li>Web Frameworks: FastAPI, Streamlit, Flask </li>
                <li>Business Intelligence Tools: PowerBI, Tableau, Spreadsheet (Excel)</li>
                <li>Machine Learning Libraries: TensorFlow, PyTorch, Scikit-Learn, LightGBM, CatBoost,</li>
                <li>Other Technologies: NLP, Computer Vision, Deep Learning, Docker</li>
            </ul>
          
        </section>
    
    <section id="soft-skills">
    <h2>Soft Skills</h2>
    <ul>
        <li>Problem-Solving: Adept at identifying and addressing complex issues with innovative solutions.</li>
        <li>Communication: Strong verbal and written communication skills, with experience in presenting technical information to diverse audiences.</li>
        <li>Team Collaboration: Proven ability to work effectively in cross-functional teams and contribute to collaborative projects.</li>
        <li>Adaptability: Flexible and able to adjust to changing priorities and new challenges with ease.</li>
        <li>Time Management: Efficient in managing multiple tasks and projects simultaneously while meeting deadlines.</li>
        <li>Leadership: Experience in leading projects and mentoring team members to achieve goals and drive success.</li>
    </ul>
</section>

    <section id="education">
      <h2>Education</h2>
      <ul>
        <li>B.Sc., Computer Science | University of Ilorin, Kwara State, Nigeria (2022)</li>
      </ul>
    </section>

    <section id="experience">
      <h2>Work Experience</h2>
      <h3>November 2019 - March 2022</h3>
      <p><strong>Data Scientist</strong> <br> <strong>ZeedLabs System</strong></p>
      <ul>
        <li>Led the development and implementation of a new CRM system, resulting in a 30% increase in customer retention.</li>
        <li>Worked with cross-functional teams to ensure seamless integration of new features, reducing project delivery time by 25%.</li>
        <li>Employed Azure DevOps to conduct regular code reviews, improving overall code quality by 20%.</li>
        <li>Implemented Azure DevTest Labs to develop automated testing protocols, reducing bugs in production by 35%.</li>
        <li>Used PowerBI to analyze user feedback to drive product improvements, leading to a 15% increase in user satisfaction.</li>
        <li>Introduced AzureML to implement machine learning algorithms to personalize user experiences, boosting engagement metrics by 25%.</li>
        <li>Deployed Azure Cost Management to manage vendor contracts and relationships, achieving a 15% cost savings on annual IT expenses.</li>
      </ul>

      <h3>April 2022 - June 2023</h3>
      <p><strong>Data Scientist</strong> <br> <strong>Ten Plus Digital Labs</strong></p>
      <ul>
        <li>Utilised AWS to lead the Data Science team at TenPlus Digital Labs, driving a 50% increase in project throughput through effective team management, resource allocation, and mentorship programs.</li>
        <li>Leveraged AWS SageMaker to direct the development of machine learning-based products and solutions at TenPlus Digital Labs, driving a 60% increase in revenue from AI-driven products.</li>
        <li>Applied PowerBI to develop and execute a comprehensive business intelligence strategy for TenPlus Digital Labs, resulting in a 75% increase in actionable insights derived from data analytics.</li>
      </ul>

      <h3>July 2023 - September 2023</h3>
      <p><strong>Data Scientist</strong> <br> <strong>PLENO</strong></p>
      <ul>
        <li>Implemented a machine learning model for the company, driving an 80% increase in efficiency and performance.</li>
        <li>Employed Python and GCP to deploy the model, leveraging cloud-based resources for scalable and efficient machine-learning solutions.</li>
        <li>Utilized SQL to collaborate with the team in refining the model, ensuring it met business objectives and improved operational processes through effective data management and analysis.</li>
      </ul>

      <h3>October 2023 - present</h3>
      <p><strong>Data Science Consultant</strong> <br> <strong>Freelance</strong></p>
      <ul>
        <li>Utilized SQL and AWS to provide tailored data science solutions to clients across diverse industries, driving a 100% increase in ROI through data-driven insights and predictive analytics.</li>
        <li>Applied Python and PowerBI to empower individuals and organizations by offering hands-on workshops, courses, and coaching sessions to unlock the power of data.</li>
        <li>Employed SQL, Python, and AzureML to develop customized data science solutions for clients across various industries, including finance, healthcare, retail, and technology.</li>
      </ul>

      <h3>March 2024 - present</h3>
      <p><strong>Data Science Consultant</strong> <br> <strong>Blossom Academy</strong></p>
      <ul>
        <li>Used data analytics to refine the curriculum based on student feedback and performance data.</li>
        <li>Created and implemented machine learning models to analyze student performance and improve educational outcomes.</li>
        <li>Conducted advanced workshops on Python, machine learning, and deep learning, applying real-world data science techniques.</li>
      </ul>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      <div class="project-slider">
        <!-- Slide 1 -->
        <div class="slide">
          <h3>Anomaly Detection in Network Traffic</h3>
          <p>Developed an anomaly detection model to identify potential threats in network traffic. The model leverages unsupervised learning techniques to classify network events as normal or anomalous.</p>
          <a href="https://networkintrusion.streamlit.app/" target="_blank">View Deployed Project</a>
        </div>
        <!-- Slide 2 -->
        <div class="slide">
          <h3>Cryptocurrency Closing Price Prediction</h3>
          <p>Created a model to predict the closing prices of cryptocurrencies using time-series data. The model incorporates features related to social media activity and trading attributes to improve prediction accuracy.</p>
          <a href="https://cryptocurrencyclosingpriceprediction.streamlit.app/" target="_blank">View Deployed Project</a>
        </div>
        <!-- Slide 3 -->
        <div class="slide">
          <h3>Banana Disease Detection (Computer Vision)</h3>
          <p>Built a computer vision model to detect and classify banana diseases. The model was trained using a dataset of banana leaf images and achieved high accuracy in identifying various diseases.</p>
          <a href="https://bananadiseaseprediction.streamlit.app/" target="_blank">View Deployed Project</a>
        </div>
        <!-- Slide 4 -->
        <div class="slide">
          <h3>Yearly Returns Prediction for E-commerce Store</h3>
          <p>Created a predictive model to estimate yearly returns for an e-commerce store. The model was designed to help the store optimize inventory and pricing strategies based on predicted returns.</p>
          <a href="https://commerce.streamlit.app/" target="_blank">View Deployed Project</a>
        </div>
        <!-- Navigation Controls -->
        <button class="prev-slide slider-control">Previous</button>
        <button class="next-slide slider-control">Next</button>
      </div>
    </section>
  </main>

  <footer>
    {% include footer.html %}
  </footer>

  <script src="{{ site.baseurl }}/assets/custom.js"></script>
</body>
</html>

