<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <header class="profile-header">
    <div class="profile-picture">
      <img src="{{ site.baseurl }}{{ site.logo }}" alt="Site Logo">
    </div>
    <div class="profile-info">
      <a href="https://www.linkedin.com/in/bolade-victor/" class="profile-link">LinkedIn</a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-email">victorboladejamb17@gmail.com</p>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>
